{{!-- includes/nav.handlebars --}}

<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up navbar-inverse" type="button" data-toggle="collapse" data-target="#navBarBase" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Review Responder</a>
    <div class="collapse navbar-collapse" id="navBarBase">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="get-saved">Saved Reviews</a>
            </li>
  <div class="form-group">
    <select class="form-control" id="hotel-select">
      <option value="0">Shattuck Plaza Hotel</option>
      <option value="1">Claremont Hotel</option>
      <option value="2">Doubletree Berkeley</option>
      <option value="3">Graduate Berkeley</option>
    </select>
  </div>
            <li class="nav-item">
                <a class="nav-link btn-warning" id="scrape-reviews">Scrape New Reviews</a>
            </li>
        </ul>
        <ul>
    </div>
</nav>